.App {
  text-align: center;
  background-color: #EF5121;
  padding: 10px;
  width: 100%;
  height: 100%;
  position: relative;
}

.title {
  color: #ffffff;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: #EF5121;
  padding: 10px;
  margin: 0;
}

.checkbox {
  position: absolute;
  z-index: 2;
  bottom: 55px;
  right: 35px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border: 1px solid #909090;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.checkbox label {
  margin-right: 3px;
}

.legend-color {
  margin-right: 3px;
  display: inline-block;
  height: 12px;
  width: 25px;
}

.attribution {
  font-size: 14px;
  margin-top: 10px;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}